/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*could have used the root more*/
:root{
	--grey: rgb(96, 96, 96);
	--yellow: rgb(255, 215, 6);
	--black: rgb(17, 17, 17);
	--font: "Roboto Serif", serif;
}
body {
	background-color: var(--black);
	font-size: 16px;
	font-family: var(--font);
}
/*Changed my mind on having this heading felt the logo was enough*/
h1 {
	color: var(--yellow);
	font-weight: bold;
	font-size: 32px;
	visibility: hidden;
}
nav ul {
	list-style-type: none;
    display: flex;
	gap: 30px;
	margin-left: 10px;
}
a:hover {
    background-color: darkred;
}
#logo {
	display: block;
	margin: 0 auto;
	width: 10%;
}
#search {
	width: 20%;
	float: left;
}
h2{
	color: var(--yellow);
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}
ul a{
	color: white;
	text-decoration: none;
	margin: 4px;
	display: inline-flex;
}
/*This gave me a headache*/
.dark-mode {
	background-color: black;
	color: white;
  }
/*.light-mode {
	background-color: white;
	color: black;
}/*
/*took me some searching to find how to call the width correctly with % and not px*/
#jinjer {
	width: 100%;
}
/*struggling to get ul and h2 (sections) to move side by side trying different display methods*/

#label{
	color: white;
	margin-left: 35%;
}
#guess {
	padding: 0.75em;
	width: 35%;
	height: auto;
	margin-left: 40%;
	color: #fff;
	background-color: #222;
	border: none;
	font-family: serif;
}
#guessInput{
	width: 31.5%;
	margin-left: 38.6%;
}
/*utilized the form I created in 414*/
form {
	display: block;
	width: 60%;
	padding: 1em;
	margin: 0 auto;
	color: white;
	font-size: 1.1em;
}
input,
label,
fieldset {
	display: block;
	width: 95%;
}
/*pretty sure I forgot to call this function*/
.required {
	display: inline-block;
	color: red;
	font-size: 1.1em;
	font-weight: bold;
}
label {
	padding-left: 0.5em;
	margin: 0.75em 0 0.25em 0;
}
input {
	font-size: 1em;
	padding: 0.25em 0.5em;
	border: 1px solid var(--grey);
	height: 1.5em;
}
fieldset {
	border: 1px solid #222;
	padding: 0.5em 0 1em 0.5em;
	margin: 0.75em 0 0.25em 0;
	width: 98%;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 3fr;
}
input[type="submit"] {
	padding: 0.75em;
	width: 35%;
	height: auto;
	margin-left: 67%;
	color: #fff;
	background-color: #222;
	border: none;
	font-family: serif;
}
textarea {
	width: 100%;
	height: 5em;
	margin-bottom: 1em;
}

input:focus,
textarea:focus {
	border-color: blue;
	box-shadow: 0 0 0 3px rgba(34, 34, 34, 0.3);
	border-radius: 4px;
}
footer{
	color: white;
	text-align: center;
}
/*tried making it mobile friendly first, with more time would have added more to be adjusted at 1280*/
@media screen and (min-width: 1280px){
	nav ul {
		display:grid;
		grid-template-columns:1fr 1fr 1fr 1fr 1fr;
		gap: 0.5rem;
		margin-left: 200px;
	}
	ul li {
		display: inline-flex;
		gap: 10px;
	}
}
